.site-header {
    background: url("../assets/header-bg-min.png") 50% 50% no-repeat;
    background-size: cover;
    color: #fff;
}

.site-header .header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .3s;
}

.site-header .header .list-menu__item {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    transition: all .3s;
}

.site-header .header .list-menu__item:hover span {
    text-decoration: none;
}

.site-header .header__active-menu-item {
    color: var(--accent-color);
    text-decoration: none;
}

@media screen and (min-width: 1024px){
    .site-header .header .list-menu__item:hover {
        color: var(--accent-color);
    }
}

.site-header .header .header__icon {
    color: #fff;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.header-phone__icon {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-phone__text {
    color: #fff;
    font-size: 20px;
}